In [1]:
%reset -f

In [2]:
import pandas as pd
from pathlib import Path

In [5]:
PKG_DIR = Path().cwd().parent

MRCONSO = PKG_DIR / "data/mrconso.tsv"
MRMAP = PKG_DIR / "data/mrmap.tsv"

In [4]:
mrconso_df = pd.read_csv(MRCONSO, sep="\t")
mrconso_df.head()

/var/folders/j5/bzs7jjf12j998fm88l0ssg740000gp/T/ipykernel_52881/2089181727.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  mrconso_df = pd.read_csv(MRCONSO, sep="\t")

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
0,C0000005,ENG,P,L0000005,PF,S0007492,Y,A26634265,NaN,M0019694,D012711,MSH,PEP,D012711,(131)I-Macroaggregated Albumin,0,N,256.0
1,C0000005,ENG,S,L0270109,PF,S0007491,Y,A26634266,NaN,M0019694,D012711,MSH,ET,D012711,(131)I-MAA,0,N,256.0
2,C0000039,ENG,P,L0000039,PF,S17175117,N,A28315139,9194921.0,1926948,NaN,RXNORM,IN,1926948,"1,2-dipalmitoylphosphatidylcholine",0,N,256.0
3,C0000039,ENG,P,L0000039,PF,S17175117,Y,A28572604,NaN,NaN,NaN,MTH,PN,NOCODE,"1,2-dipalmitoylphosphatidylcholine",0,N,256.0
4,C0000039,ENG,P,L0000039,VC,S0007564,Y,A0016515,NaN,M0023172,D015060,MSH,MH,D015060,"1,2-Dipalmitoylphosphatidylcholine",0,N,NaN

In [7]:
mrmap_df = pd.read_csv(MRMAP, sep="\t")
mrmap_df.dropna(axis=1, how="all", inplace=True)
mrmap_df.head()

/var/folders/j5/bzs7jjf12j998fm88l0ssg740000gp/T/ipykernel_52881/4206139617.py:1: DtypeWarning: Columns (6,22) have mixed types. Specify dtype option on import or set low_memory=False.
  mrmap_df = pd.read_csv(MRMAP, sep="\t")

,MAPSETCUI,MAPSETSAB,MAPSUBSETID,MAPRANK,MAPID,FROMID,FROMEXPR,FROMTYPE,REL,RELA,TOID,TOEXPR,TOTYPE,MAPTYPE
0,C1306694,MTH,NaN,NaN,AT102971857,C0264643,C0264643,CUI,SY,NaN,3026,"<Hypertension, Renovascular> AND <Hypertension...",BOOLEAN_EXPRESSION_STR,ATX
1,C1306694,MTH,NaN,NaN,AT102971858,C0276253,C0276253,CUI,SY,NaN,4080,<Pneumonia> AND <Cytomegalovirus Infections>,BOOLEAN_EXPRESSION_STR,ATX
2,C1306694,MTH,NaN,NaN,AT102971859,C0409780,C0409780,CUI,SY,NaN,4713,<Synovitis> AND <Hand>,BOOLEAN_EXPRESSION_STR,ATX
3,C1306694,MTH,NaN,NaN,AT102971861,C1706094,C1706094,CUI,SY,NaN,1251,<Adhesives> AND <Denture Retention>,BOOLEAN_EXPRESSION_STR,ATX
4,C1306694,MTH,NaN,NaN,AT102971862,C1706094,C1706094,CUI,SY,NaN,2161,<Dental Cements> AND <Orthodontics>,BOOLEAN_EXPRESSION_STR,ATX

In [10]:
mrconso_df[mrconso_df['CUI']=="C1306694"]

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
1853251,C1306694,ENG,P,L18639429,PF,S22340987,Y,A35395198,NaN,NaN,NaN,MTH,XM,1000,MSH2023_2023_02_03 Associated Expressions,0,N,NaN